modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]

[userenv.shared."curl -i -X GET \\   'https:"]

[userenv.shared."curl -i -X GET \\   'https:".""]

[userenv.shared."curl -i -X GET \\   'https:".""."api.test.easypay.pt"]

[userenv.shared."curl -i -X GET \\   'https:".""."api.test.easypay.pt"."2.0"]
"frequent?page=1&records_per_page=20&expiration_time=interval%282006-01-02+15" = ""
